html {
	font-size: 10px;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	letter-spacing: -0.05em;
  color: #626161;
}

p {
	font-family: 'Spoqa Han Sans';
	text-align: center;
	font-size: 1.6rem;
}

h1 {
	text-align: center;
	margin: 0;
	padding-top: 80px;
	padding-bottom: 91px;
}

/*ì½ê¸°ëŠ” ê°€ëŠ¥í•˜ì§€ë§Œ ë³´ì´ì§€ëŠ” ì•ŠëŠ” ì»¨í…ì¸ */
.readable-hidden {
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-info {
	flex-direction: column;
	padding-bottom: 90px;
}

.product-number,
.product-name-en{
	font-family: 'Anton', sans-serif;
	letter-spacing: 0;
	color: #3b3b3b;
}

.product-number {
	font-size: 1.6rem;
}

.product-name-en {
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 0;
}

.product-name-kr {
	font-size: 2.4rem;
	color: #3b3b3b;
}

.collection {
	flex-direction: column;
	background: #fbfbfb;
}

.collection-name {
	font-family: 'Flamenco', cursive;
	font-size: 6rem;
	text-transform: capitalize;
	letter-spacing: 0;
	color: #5c5c5c;
	padding: 0;
}

.collection-name span {
	font-family: 'Spoqa Han Sans';
	font-size: 1.4rem;
	color: #7a7a7a;
}

.collection p {
	margin-top: 0;
	width: 50rem;
}

.lookbook {
	margin-top: 12rem;
	flex-direction: column;
}

.lookbook::before {
	content: '/';
	font-size: 7rem;
	font-weight: 200;
	color: #e5e5e5;
}

.lookbook p {
	width: 42rem;
}

.lookbook img {
	margin-top: 3rem;
}

.red-slogan {
	width: 640px;
	height: 190px;
	background: #d61e39;
	color: #fff;
	font-family: 'Anton', sans-serif;
	letter-spacing: 0;
	font-size: 2.2rem;
	text-transform: uppercase;
	text-align: center;
	padding-top: 2.5rem;
	position: relative;
}

.red-slogan::before {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	background: #fff;
}

.caution {
	flex-direction: column;
	width: 640px;
}

.product-caution li,
.guide li{
	list-style: none;
	font-size: 1.4rem;

}